* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(216, 216, 247);
}

header {
    background-color: rgb(1, 1, 174);
}

header .container {

    text-align: center;
    width: 1280px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.logo {
    margin-left: 60px;
    margin-right: 730px;
}



.navbar ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 13px 20px;


    transition: all .3s linear;
}

li:hover {
    background-color: rgb(249, 249, 249);
}

.navbar a {
    display: inline-block;
    color: beige;
    text-decoration: none;
    transition: all .3s linear;

}

li:hover a {
    color: rgba(0, 0, 255, 0.635);
    transform: scale(1.2, 1.2);

}

.one {
    margin: 70px;
}

.one .container {
    margin: 20px auto;

    width: 1280px;

    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.one p {
    width: 400px;
    margin-right: 300px;
    font-size: 17px;
}

.one img {
    width: 300px;
}

.img {
    width: fit-content;
    position: relative;
}

.one .img::after {
    content: "";
    position: absolute;
    right: -50px;
    top: -40px;
    width: 100px;
    height: 280px;
    background-color: rgba(1, 1, 174, 0.778);
    z-index: -1;
}

.two .container {
    margin: 20px auto;

    width: 1280px;

}

.two .container .cards {
    display: flex;
    justify-content: space-between;

}

.card {
    transition: all .2s linear;

}

.card:hover {
    transform: scale(1.08, 1.08);
    border: rgba(1, 1, 174, 0.835) 40px solid;

}

.o {
    box-shadow: rgba(1, 1, 174, 0.508) 5px 5px;
    outline: 2px solid rgb(216, 216, 247);
    border: rgba(1, 1, 174, 0.508) 40px solid;

}

.t {
    box-shadow: rgba(137, 43, 226, 0.439) 5px 5px;
    outline: 2px solid rgb(216, 216, 247);
    border: rgba(137, 43, 226, 0.439) 40px solid;

}

.th {
    box-shadow: rgba(80, 203, 255, 0.399) 5px 5px;
    outline: 2px solid rgb(216, 216, 247);
    border: rgba(80, 203, 255, 0.399) 40px solid;

}

.two img {

    width: 290px;
}

@media (max-width:700px) {
    body {
        background-color: unset;
    }

    header .container,
    .one .container,
    .two .container {
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    header .container {
        height: fit-content;
        font-size: 20px;


    }

    .logo {
        margin: auto;
        padding-top:10px;
    }

    ul li {
        padding: 7px 15px;
        transition: all .1s linear;
    }

    .one,
    .two {
        margin: unset;

    }

    .one .container p {
        margin: auto;
        margin-bottom: 50px;
        width: 300px;
        font-size:15px

    }

    .one .img {
        width: fit-content;
        margin: auto;

    }


    .one .img::after {
        right: -20px;

        width: 40px;
    }

    .two .container {
        margin: 20px auto;

    }

    .cards {
        display: flex;
        flex-direction: column;

    }

    .card {
        width: fit-content;
        margin: 20px auto;
        transition: all 0s linear;

    }

    .card:hover {
        transform: scale(1.08, 1.08);
        border: rgba(1, 1, 174, 0.835) 20px solid;

    }



    .two img {
        width: 300px;
    }

    .o {

        border: rgba(1, 1, 174, 0.508) 20px solid;

    }

    .t {
        border: rgba(137, 43, 226, 0.439) 20px solid;

    }

    .th {
        border: rgba(80, 203, 255, 0.399) 20px solid;

    }
}
